*.js
*~

.history/
.ionide
.nyc_output/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.vsix

credentials.json
node_modules/
